#myVideo {
    position:fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
    position:relative;
    top: 0;
    background: rgba(61, 60, 60, 0.5);
    color: #e0bfbf;
    width: 100%;
    padding: 20px;
}

/* style of navigation bar */
body {
    margin: 0;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  }

  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }


